/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #F3F1FF;
}
/* header style */
header{
    display: grid;
    background: #562EFF;
    grid-template-columns: 1fr 1fr;
}
.logo{
    display: flex;
}
.logo h1{
    margin: 25px 0;
    color: #fff;
}
.logo img{
    width: 40px;
    height: 50px;
    margin: 25px 15px 15px 100px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    
}
nav ul li a{
    display: block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 0 35px;

}

/* top_header style */
.top_header{
    width: 80%;
    margin: 35px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFF;
    border-radius: 5px;
}
.title{
    padding: 35px 0 40px;
    font-size: 24px;
    color: #562EFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:200px;
    
}
.player{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.player img{
    width: 56px;
    height: 56px;
    margin-right: 15px;
}
.player_name{
    font-size: 18px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 250px;
    margin-bottom: 40px;
}
.blog{
    display: flex;
    align-items: center;
     margin-bottom: 25px;
}
.blog img{
    width: 175px;
    height: 115px;
    margin-right: 15px;
}
.blog_details h2{
    font-size: 20px;
}
.blog_details p{
    font-size: 16px;
    color: #9F9F9F;
}
.blog_details p a{
    color: #562EFF;
    text-decoration: none;
}
/* Courses style */
.latest_courses{
    width: 80%;
    margin: 15px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFF;
    border-radius: 5px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    
    
}
.course{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 25px ;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.279);
    padding: 40px 20px;
    border-radius: 10px
    
}
.course img{
    width: 225px;
    height: 105px;
}
.course_title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}
.extra_text{
    color: #ED6B4F;
    font-size: 14px;
    margin-bottom: 15px;
}
.ratings{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star{
    margin-right: 20px;
}
.star .fas{
    color: #FFC014;
}
.star .far{
    color: #AEAEAE;
    opacity: .4;
}
.rating{
   color: #A2A2A2;
}
.rating_time{
    color: #FF4A60;
    background: #FFE4E8;
    padding: 3px 7px;
    border-radius: 14px;
}
.fa-clock{
    padding-right: 5px;
}
